*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://img.freepik.com/photos-gratuite/flou-luxe-abstrait-degrade-gris-fonce-noir-utilise-comme-mur-studio-arriere-plan-pour-afficher-vos-produits-fond-studio-uni_1258-54456.jpg?w=1380&t=st=1667403569~exp=1667404169~hmac=c7e75729e36d97679b7c821a6600e6867414e7ba5ced7547b70775ef45a359dd);
    background-size: cover;

}
a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}
header{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 1600px;
    height: 180px;
    margin:0 auto;
    background-color: white;


}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.relative {
    position:relative;
}

.absolute {
    position:absolute;
}
header .logo img{
    width: 250px;
    height: 180px;
    /* padding-left: 200px; */
    
} 

header .titre h1{
 font:normal bold 100px;
 color:white;
 text-shadow: 2px 2px 8px black;
 

}
header .search{
margin-left: 400px;

}
header .search input{
    /* vertical-align: middle; */
    border: 1px solid rgb(43, 40, 40);
    width: 200px;
    height: 40px;

}

header .search button{
  
    width: 40px;
    height: 40px;
    background-image: url(./images/recherche.png);
    background-size: 40px 40px;
    right:0;
   
    border:1px solid rgb(19, 18, 18);
    /* margin-left: -44px; */

}
 
header .user img{
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    margin-left:200px;
    vertical-align: center;
  

}
header .user .nom-user{
  
    margin-left:20px;
}

header .ball{
    margin-bottom: -125px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(12, 11, 11, 0.788);
    transform: all 8s;
    animation:ball 8s linear infinite alternate;
    box-shadow: 5px 5px 4px;
}
@keyframes ball{

    to{
        transform:translateX(-1400px);
    }
}

main .nav{
    display: flex;
    justify-content: center;
    margin:0 auto;
   
    width: 1600px;
    height: 40px;
    background-color: rgb(77, 74, 74);
    
}

main ul{
    border-bottom: 1px solid grey;
}
main .nav li{
    float:left;
   

}
main .nav li:hover {
    transform: scale(1.3);
}
main .nav li a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color:white;
    margin-right: 50px;

}

main .content{
    position: relative;
    width: 1600px;
    margin:0 auto;
    color:black;
    line-height: 2em;
    font-size: 18px;
    display:flex;
}
main .aside{
    /* margin-top: 30px; */
    padding-left:30px;
    padding-top:30px;
    width: 300px;
    height: 1290px;
    background-color: white;
    
   
}
main .content .fa-solid{
    font-size: 12px;
    color:gray;
    vertical-align: middle;

                                       
    /* float:right; */
    
}
main .aside span{
    
    font-size:14px;
    color:grey;
}
main .content .right{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    top:0;
    left:300px;
    width: 1300px;
    background-color:white;
}
main .content .right div{
    width: 350px;
    height: 400px;
    margin-right: 80px;
    margin-top:30px;
    text-align:center;


}
main .content .right img{
    width: 380px;
    height: 300px;
    

}
main .right .titre{
    font-size:16px;
    color:black;
    /* text-align:center; */
}
main .right .text{
    /* width: 100px; */
    margin-top: -40px;
    font-size:14px;
    color: grey;
    line-height: 1.5em;

   /* css文本超出2行就隐藏并且显示省略号 */
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 

}

footer{
    position:relative;
    display: flex;
    justify-content: space-around;
    width: 1600px;
    height: 300px;
    background-color: rgba(17, 14, 14, 0.719);
    margin:0 auto;
    color:white;
}


footer div{
    margin-top:30px;
    line-height: 2em;

}
footer h3{
    border-bottom: 1px solid white;
    width: 200px;
}
/* footer .contact .fa-solid .fa-regular{
    margin-right: 20px;
} */
footer input{
    outline:none;
    border-radius: 5px;
    width: 200px;
    height: 35px;

}
footer input:focus{
    border:1px solid black;


}
footer .fa-brands{
   font-size: 20px;
   color: rgb(248, 246, 242);
   letter-spacing: 1em;
   margin-top: 1em;
}